<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="/upload-profile-pic" enctype="multipart/form-data">
        <div>
            <label>Select your profile picture:</label>
            <input type="file" name="profile_pic" />
        </div>
        <div>
            <input type="submit" name="btn_upload_profile_pic" value="Upload" />
        </div>
    </form>
    <hr/>
    <form method="POST" action="/upload-multiple-images" enctype="multipart/form-data">
        <div>
            <label>Select multiple images:</label>
            <input type="file" name="multiple_images" multiple />
        </div>
        <div>
            <input type="submit" name="btn_upload_multiple_images" value="Upload" />
        </div>
    </form>
    <hr/>
    <% if(files) { %>
        <% files.forEach(function(file) {%>
        <div class="card mb-3">
            <div class="card-header">
                <div class="card-title">
                        <%= file.filename %>
                </div>
            </div>
            <div class="card-body">
                <% if (file.isImage) { %>
                    <%= file.data %>"
                    <img src="image/<%= file.filename %>" alt="">
            <h1>1234</h1>
            
                <%} else { %>
                <p><% file.filename %></p>
                <% } %>
            </div>
            <div class="card-footer">
                <form action="/files/del/<%= file._id %>" method="post">
                    <button type="submit" class="btn btn-danger">Remove</button>
                </form>
            </div>
        </div>
        <%}) %>
        <% } else { %>
        <p>No files to show</p>
        <% } %>
</body>
</html>